@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 300vh;
}

.nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    position: relative;
    text-align: center;
    padding: 25px;
}

.nav img {
    width: 150px;

}

nav .btn {
    border-radius: 5px;
    background-color: #E50914;
    color: white;
    padding: 6px 20px 6px 20px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 700;
    cursor: pointer;

}

.main {
    height: 100vh;

}

.main .box {
    opacity: 0.22;
    z-index: -1;
    box-shadow: inset 6px 19px 20px 3px;
    height: 100vh;
    width: 98vw;
    margin: auto;
    background-image: url("assets/bg.jpg");
    background-size: min(2000px, 100vw);
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
}

.Tvshow {
    color: white;
    display: flex;
    justify-content: center;
    height: 300px;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    gap: 34px;
}

.Tvshow :nth-child(1) {
    /* background-color: rebeccapurple; */
    margin-top: 10px;
    font-size: 56px;
    width: 650px;
    font-weight: 800;
    text-align: center;
    line-height: 70px;
}

.Tvshow :nth-child(2) {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
}

.Tvshow :nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.btn-2 {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 0px;

}

.btn-2 input {
    padding: 15px 200px 15px 10px;
    border-radius: 5px;
    background-color: rgba(26, 25, 25, 0.649);
    border-color: rgb(208, 202, 202);
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-width: 1px;
    height: 25px;


}

.btn-2 button {
    border-radius: 5px;
    background-color: #E50914;
    color: white;
    padding: 0px 35px 0px 35px;
    height: 55px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 700;
    cursor: pointer;

}

.separation {
    background-color: gray;
    height: 10px;
    margin-bottom: 60px;
}

.plans {
    background: linear-gradient(to right, #44172B, #1F0F22);
    width: 80vw;
    height: 23vh;
    margin: auto;
    display: flex;
    justify-content: center;
    text-indent: 30px;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 60px;
}

.plans :nth-child(1) {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.plans :nth-child(2) {
    color: #BBAEB6;
    font-size: 16px;
    font-weight: 400;
}

.plans:hover {
    background-color: #4e163a;
    transform: scale(1.02);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.trend {
    color: white;
    width: 80vw;
    margin: auto;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
}

.option-btn {
    width: 80vw;
    margin: auto;
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}

.option-btn select {
    background-color: #0F0F0F;
    color: white;
    height: 40px;
    border-radius: 5px;
    padding: 0px 20px 0px 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
}

.poster {
    height: 17%;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.poster img {
    border-radius: 6px;
    height: 250px;
    cursor: pointer;
}

.poster img:hover {
    transform: scale(1.09);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.games-section {
    width: 80vw;
    margin: auto;
    background: linear-gradient(to right, #44172B, #1F0F22);
    border-radius: 20px;

}


.mobile-games {
    color: white;
    width: 80vw;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 10px;
    margin-bottom: 60px;
    background-repeat: no-repeat;
    background-position: 620px -94px;
    background-size: 730px;
    background-image: url(assets/netflix-games.png);
}

.games-section-heading {
    color: white;
    width: 80vw;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.mobile-games span {
    font-size: 32px;
    font-weight: 700;
    width: 50%;
    margin-left: 40px;
}

.mobile-games p {
    font-size: 16px;
    font-weight: 400;
    width: 47%;
    margin-left: 40px;

}

.reasons {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.reasons span {
    width: 240px;
    height: 240px;
    background: linear-gradient(to bottom right, #1B2041, #21101b);
    border-radius: 20px;
    display: flex;
    color: white;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-left: 18px;
    padding-top: 30px;
}

#p1 {
    width: 80vw;
    margin: auto;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.questions {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 60px;
}

.questions>p {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.questions div {
    background-color: #2D2D2D;
    color: white;
    font-size: 24px;
    font-weight: 400;
    padding: 25px 25px 25px 25px;
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.questions div:hover {
    background-color: rgb(67, 66, 66);
    transform: scale(1.02);
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.questions img {
    height: 35px;
}

.ready-to-watch {
    width: 80vw;
    margin: auto;
}

.ready-to-watch>p {
    color: white;
    font-weight: 400;
    margin-bottom: 15px;
}

.ready-to-watch button {
    border-radius: 5px;
    background-color: #E50914;
    color: white;
    padding: 0px 25px 0px 25px;
    height: 57px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.ready-to-watch input {

    padding: 15px 600px 15px 10px;
    border-radius: 5px;
    background-color: rgba(26, 25, 25, 0.584);
    border-color: rgb(208, 202, 202);
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-width: 1px;
    height: 25px;

}

.btn-3 {
    display: flex;
    gap: 7px;
    margin-bottom: 25px;
}

.footer {
    width: 75vw;
    font-weight: 400;
    margin: auto;
    height: 65vh;
    
}

.footer p>a {
    color: #A2A2A2;
}

.footer>p {
    margin-bottom: 40px;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 50px;
}

.links a {
    color: #A2A2A2;
}

.option-btn-last select {
    background-color: #0F0F0F;
    color: white;
    height: 40px;
    border-radius: 5px;
    padding: 0px 50px 0px 10px;
    height: 35px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
}

.option-btn-last {
    margin-bottom: 40px;
}

.netflix-pak {
    color: #A2A2A2;
    font-size: 14px;
    
}